
{% extends "index.html" %}
{% block page %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="flex w-full">
  <div class="basis-1/2">
<canvas id="myChart" class="basis-1/2" style="width:50%;"></canvas>
</div>
<div class="basis-1/2">
  <canvas id="myChart2" class="basis-1/2" style="width:50%;"></canvas>
  </div>
</div>

<div class="stats shadow w-full">
  
    <div class="stat w-full">
      <div class="stat-figure"> 
        <span class=" material-symbols-outlined text-3xl">
        storage
        </span>
      </div>
      <div class="stat-title">Memory Usge  </div>
      <div class="stat-value p-2"><span id="memoryusage">{{ usage.memory }}</span>%</div>
      <div class="stat-desc  p-2">Total Memory  :- <span id="totalmemory">{{ totalmemory }}</span></div>
    </div>
    
    <div class="stat">
      <div class="stat-figure">
        <span class=" material-symbols-outlined text-3xl">
            memory
          </span>
           </div>
      <div class="stat-title">CPU Usage</div>
      <div class="stat-value  p-2"><span id="cpuusage">{{ usage.cpu }}</span>%</div>
      <div class="stat-desc  p-2">Total CPU(s) :- <span id="totalcpu">{{ totalcpu }}</span> Cores </div>
    </div>
    
    <div class="stat">
      <div class="stat-figure">
        <span class=" material-symbols-outlined text-3xl text-3xl">
            task
          </span>
           </div>
      <div class="stat-value"><span id="process">0</span></div>
      <div class="stat-title">Process Running </div>
      <div class="stat-desc"></div>
    </div>
    

  </div>
    


  <div class="stats shadow w-full">
  
    <div class="stat w-full">
      <div class="stat-figure">
        <span class=" material-symbols-outlined text-3xl ">
          hard_drive
          </span>
           </div> 
      <div class="stat-title">Disk Usage   </div>
      <div class="stat-value p-2"><span id="diskusage">{{usage.disk}}</span></div>
      <div class="stat-desc  p-2">Total Disk Space  :- <span id="totladisk">{{totaldisk}}</span></div>
    </div>
    
    <div class="stat">
      <div class="stat-figure">
        <span class=" material-symbols-outlined text-3xl">
            network_check
          </span>
           </div>
      <div class="stat-title">Ping </div>
      <div class="stat-value  p-2"><span id="ping">10</span>ms</div>
      <div class="stat-desc  p-2">Traffic Speec :- <span id="totalcpu">1.00 GB/s</span> </div>
    </div>
    
    <div class="stat">
      <div class="stat-figure">
        <span class=" material-symbols-outlined text-3xl">
            security
          </span>
           </div>
      <div class="stat-value">{{firewall}}</div>
      <div class="stat-title">Firewall Status </div>
      <div class="stat-desc"></div>
    </div>
    




  </div>
    




 

<script>
  // Get the context of the canvas element we want to select
  var ctx = document.getElementById('myChart').getContext('2d');
  var ctx2 = document.getElementById('myChart2').getContext('2d');

  // Define the data for your chart
  var cpu = {
    labels: [],
    datasets: [{
      label: 'Memory Usage',
      data: [],
      backgroundColor: 'rgba(255, 0, 0, 1)',
      borderColor: 'rgba(255, 99, 132, 1)',
    }]
  };
  var memory = {
    labels: [],
    datasets: [{
      label: 'CPU Usage',
      data: [],
    }]
  };
  // Configure the options for your chart
  var options = {
    animation: false, // Disable animations
  plugins: {
    tooltip: {
      intersect: false // Disable tooltip intersection
    }
  },
    scales: {
      y: {
        min: 0,          // minimum value
        max: 100,        // maximum value
        ticks: {
          stepSize: 5   // optional: step size
        }
      }
    }
  };

  // Create the chart
  var myChart = new Chart(ctx, {
    type: 'line',
    data: memory,
    options: options
  });
  var myChart2 = new Chart(ctx2, {
    type: 'line',
    data: cpu,
    options: options
  });




setInterval(() => {
  var startTime = new Date().getTime();

  fetchData("{% url 'resourceusage' %}", {} , (data) => {
    data = JSON.parse(data);
    var endTime = new Date().getTime();
    var pingTime = endTime - startTime;
    document.getElementById('memoryusage').innerText = parseInt(data.memory);
    document.getElementById('cpuusage').innerText = parseInt(data.cpu);
    document.getElementById('process').innerText = parseInt(data.process);
    document.getElementById('diskusage').innerText = data.disk;
    document.getElementById('ping').innerText = pingTime;

   

    //colorUsage('cpu' , data.cpu);
    //colorUsage('memory' , data.cpu);
    //colorUsage('process' , data.cpu);
    //colorUsage('disk' , data.cpu);
    //colorUsage('ping' , data.cpu);
    //colorUsage('firewall' , data.cpu);




    myChart.data.datasets[0].data.push(parseInt(data.cpu));


    myChart.data.labels.push(new Date().toLocaleTimeString());

    myChart2.data.labels.push(new Date().toLocaleTimeString());
    myChart2.data.datasets[0].data.push(parseInt(data.memory));
    
   
    if(myChart.data.labels.length >= 9){

      var lastIndex = 0;
      myChart.data.labels.splice(lastIndex , 1);
      myChart.data.datasets[0].data.splice(lastIndex , 1);
      myChart2.data.labels.splice(lastIndex , 1);
      myChart2.data.datasets[0].data.splice(lastIndex , 1);
    }
    console.log( myChart.data.datasets[0].data);
    myChart.update();
    myChart2.update();
  });

}, 1000);






</script>

  {% endblock %}

