{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Watch - Home</title>
</head>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<script src="https://releases.jquery.com/git/jquery-git.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'myjs/main.js'%}"></script>
<body>
    <div class="navbar bg-base-100" style="height:10vh">
        <div class="navbar-start">
          <div class="dropdown">
            <div class="navbar-center">
                <a class="btn btn-ghost text-xl">Cloud Monitor </a>
              </div>
          </div>
        </div>
        
        <div class="navbar-end">
         
        </div>
      </div>


     <div class="main md:flex" style="height:90vh">

         <div class="sidebar h:[100vh]" style="height:100%">
            <ul class="menu bg-base-200 rounded-box" style="height:100%;overflow-x:hidden; overflow-y:scroll">
                <li>
                  <a href="{% url 'home' %}">
                    <span class="material-symbols-outlined">
                      dashboard
                      </span>
                </a>
                </li>
                <li>
                  <a href="{% url 'dashboard' %}" >
                    <span class="material-symbols-outlined">
                      data_usage
                      </span>
                   
                </a>
                </li>
                <li>
                  <a href="{% url 'taskmanager' %}">
                    <span class="material-symbols-outlined">
                      task
                      </span>
                </a>
                </li>
                <li>
                    <a href="{% url 'shell' %}">
                      <span class="material-symbols-outlined">
                        terminal
                        </span>
                  </a>
                  </li>

                  
                  <li>
                    <a href="{% url 'commandhistory' %}">
                      <span class="material-symbols-outlined">
                        history
                        </span>
                  </a>
                  </li>
                 
                  <li>
                    <a href="{% url 'filemanager' %}">
                      <span class="material-symbols-outlined">
                        folder_open
                        </span>
                  </a>

                  </li>
                  <li>
                    <a href="{% url 'services' %}">
                      <span class="material-symbols-outlined">
                        linked_services
                        </span>
                  </a>
                  
                  </li>
                  <li>
                    <a href="{% url 'applicationstore' %}">
                      <span class="material-symbols-outlined">
                        shopping_bag
                        </span>
                  </a>
                  </li>

                  <li>
                    <a href="{% url 'logout' %}">
                      <span class="material-symbols-outlined">
                        logout
                        </span>
                  </a>
                  </li>

              </ul>
         </div>


        

         <div class="page p-6 w-full" style="overflow-y:scroll;">


            {% block page %}{% endblock %}
            
         </div>

     </div>



</body>
<script>
       function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
    function fetchData( url , data , callback){
        csrfToken = getCookie('csrftoken');
        $.ajax({
            url: url,
            type: 'POST',
            headers: {
                    'X-CSRFToken': csrfToken 
                },
            data: data,
            success: function(response){
               // console.log(response);
                callback(response);
            }
        }
        );
    }

    fetchData("{% url 'api' %}" , {} , ()=>{});

</script>
</html>