
{% extends "index.html" %}
{% block page %}

   <div class="flex">
      <div>
          Welcome User to the Cloud Monitor Dashboard,
          <p> This software is intended to provided useful feature to fastly deploy , manage
            and get insights about the server directly from the browser 
          </p>
      </div>
   </div>
  <div class="flex w-full justify-between grow " >
           

<a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <span class="w-full text-center material-symbols-outlined">
    data_usage
    </span>
  <h5 class="mb-1 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Usage</h5>
  </a>

  

<a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <span class="w-full text-center material-symbols-outlined">
    terminal
    </span>
  <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">Shell</h5>
  </a>
  
  <a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <span class="w-full text-center material-symbols-outlined">
      group
      </span>
    <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">Users</h5>
    </a>
  
    <a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <span class="w-full text-center material-symbols-outlined">
        folder_open
        </span>
      <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">Files</h5>
      </a>
  

    <a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <span class="w-full text-center material-symbols-outlined">
        task
        </span>
      <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">Process</h5>
      </a>



    <a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <span class="w-full text-center material-symbols-outlined">
        linked_services
        </span>
      <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">Services</h5>
     
      </a>


    <a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <span class="w-full text-center material-symbols-outlined">
        settings  
        </span>
      <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">Setting</h5>
       </a>
     
      
    <a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <span class="w-full text-center material-symbols-outlined">
        extension  
        </span>
      <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">Extension</h5>
       </a>
       
       

    <a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <span class="w-full text-center material-symbols-outlined">
        shopping_bag  
        </span>
      <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">Store</h5>
       </a>



    <a href="#" class="m-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <span class="w-full text-center material-symbols-outlined">
        history  
        </span>
      <h5 class="mb-1 text-center text-lg font-bold tracking-tight text-gray-900 dark:text-white">History</h5>
       </a>


   

   
   
  </div>
    
  {% endblock %}

